ansible-lint==4.3.7
ansible==2.10.4
flake8==3.8.4 
molecule-azure==0.5.0
molecule-containers==0.2
molecule-digitalocean==0.1
molecule-docker==0.3.3
molecule-ec2==0.3
molecule-gce==0.2
molecule-libvirt 
molecule-lxd===0.1
molecule-openstack==0.2
molecule-podman==0.3.0
molecule-vagrant==0.6
molecule[docker,podman,windows,lint]==3.2.3
testinfra==6.0.0
